h2{
  color: #16BABB;
  text-shadow: 3.9px 7.8px 7.8px hsl(0deg 0% 0% / 0.38);
}

body{
  width: 90%;
  margin: auto;
  background-color: #03323C;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}



ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

ul li a{
  text-decoration: none;
  color: #FFF6BF;
  padding: 10px 20px;
  font-weight: bold;
}

ul li a:hover{
  color: #FFC457;
}

.active{
  color: #FFC457;
  text-decoration: underline;
  text-shadow: 3.9px 7.8px 7.8px hsl(0deg 0% 0% / 0.38);
}


@media (max-width: 426px) {
  nav, ul{
    display:block;
    padding:0;
    text-align: center;
  }

  ul li{
    margin-top: 15px;
  }
  
}