.bookCard{
    display: flex;
    color: #FFF6BF;
}

.description{
    display: -webkit-box;
    -webkit-line-clamp: 18;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;   
    font-size: smaller;
    padding-left: 20px; 
}


.leftSide button{
    display:block;
    margin: 0 65%;
    font-size: smaller;
}

.bookPlaceHolder{
    font-size: 150px;
}